<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> New Donor and Honorer Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel = 'stylesheet' href = 'styles.css'>
    </head>
   
        <body style = 'font-family: Verdana;  background-color: rgb(54,135,148, .7); text-align: justify; padding: 10px '> 
         
            <div>
                <h1 style  = "font-size : medium; font-weight: 200;" >  Dear {{dearDonorStr}},</h1>
            
                <div  style = "text-align: center; background-color: rgba(35, 57, 71, 0.7); padding: 10px 0 10px 0; border: 5px solid rgb(160,145,94);
                color: #DFE6E7; border-radius: 16px;" >
                     <p style = 'padding: 5px 20px 5px 20px; text-align: justify; text-decoration: none;'> 
                          {{introSentence}}
                         
                          {{actionSentence}}
                          
                         </p>

                         <p style = 'text-align: justify; padding: 5px 20px 5px 20px;'> Your gift of ${{donationAmount}} on {{donationDate}}
                             provides a circle of hope for survivors of sexual violence. 
                             Because of you, women and girls who are most at risk during this time of crisis will have access 
                             to transformative trauma healing. They can become part of our Common Threads Project circles and 
                             build camaraderie with other women who share their experience. </p> 
                             
                        <p style = 'text-align: justify; padding: 5px 20px 5px 20px;'>
                            We are grateful for your support of Common Threads Project and the hope you give survivors of sexual violence.  This is what you make possible:
                        </p>

                        <div> 

                            <h3 style = 'font-size: medium;'> Ecuador </h3>
    
                                <img style = 'border-radius: 16px;' src = "https://i.ibb.co/tz4bpcq/ecuador.png" alt = 'our project in Ecudaor' width = '500px' height = '350px'/>
    
                                <em><p>  “I feel relieved when I come here. I feel that this time is for me. 
                                    I mean I feel like I exist.”<p/> 
                                    <p>“I am stronger, I believe in myself more.”</p>
                                </em> 
    
                        </div>
    
    
                        <div style = 'padding-top: 5px'> 
                            <h3 style = 'font-size: medium;'> Nepal </h3>
    
                            <img style = 'border-radius: 16px;'src = 'https://i.ibb.co/qsBH5xc/nepal.png' alt = 'our project in Nepal' width = '500' height = '350px'/>
                            <em><p>  “I feel like I’ve rid myself of a heavy load, a load I carried. 
                                It’s passed now. I am getting rid of things that I had carried in my heart.”<p/> 
                            </em> 
    
                        </div>
    
                        <div style = 'padding-top: 5px'>
    
                            <h3 style = 'font-size: medium;'> Democratic Republic of Congo </h3>
    
    
                            <img src = 'https://i.ibb.co/5sm69b2/drc.png' style = 'border-radius: 16px;' alt = 'our project in The DRC' width = '400' height = '350px'/>
                            <em><p>  “I don’t have to feel shame for anything that happened to me. It is a  big relief for me!”<p/> 
                            </em> 
                        </div>
    
                        <div style = 'padding-top: 5px;  margin-bottom: 35px' > 
                            <h3 style = 'font-size: medium;'> Bosnia </h3>
                            
                            <img style = 'border-radius: 16px;' src = 'https://i.ibb.co/xYHD7Fg/bosnia.png' alt = 'our project in Bosnia' width = '400px' height = '305px'/>
                            <em><p>  “Sometimes I am kidding that after each session here I feel like I have wings. This means a lot for me”<p/> 
                            </em> 
                        </div>
                </div>
               

             

             
                <p style = 'padding-top: 10px' >The women and girls of Common Threads Project appreciate your belief in the possibility of healing. </p>

                <p style = 'font-weight: bold;'> {{taxParagraph}} </p>

                {{!-- <p style = 'font-weight: bold;'> Please let this note serve as your receipt for a fully tax-deductible contribution of ${{donationAmount}} to Common Threads Project on {{donationDate}}. No goods or services were provided in exchange for this contribution. 
                    Common Threads Project is an exempt organization as described in Section 501(c)(3) of the Internal Revenue Code; EIN: 81-4212971. </p> --}}

                <footer>
                    <ul style = 'list-style: none; margin-left: 0; padding-left: 0;'>

                        <li style = 'padding-bottom: 5px; margin-left: 0; padding-left: 0;'>
                            With gratitude and best wishes,
                        </li>
                    

                        <li style = 'padding-bottom: 5px; margin-left: 0; padding-left: 0;'>
                            <img src="https://i.ibb.co/JHSHXcM/output-onlinepngtools.png" alt="signature"  
                            width = '150px' height= '50px' style = ' border-radius: 16px; padding: 0px; 
                            
                            background-color: rgb(140, 181, 188, .2);'   > 
                        </li>
                    
                        <li style = 'padding-bottom: 5px; margin-left: 0; padding-left: 0;'>
                            Rachel A. Cohen, Ph.D.
                        </li>
                    
                        <li style = 'padding-bottom: 5px; margin-left: 0; padding-left: 0;'>
                            Founder and Executive Director
                        </li>

                        <li style = 'padding-bottom: 5px; margin-left: 0; padding-left: 0;margin-left: 0; padding-left: 0;'> 
                            Common Threads Project
                        </li>
                    

                        <li style = 'padding-bottom: 5px; margin-left: 0; padding-left: 0;'> 
                            <img src = 'https://images.squarespace-cdn.com/content/v1/5b7eeaf2c258b4a04473be79/1563828132352-Y3LYHVJEF6K6ACTZTM4I/masterlogo+transparent.png'
                             alt = 'organization logo' width = '150px' height= '100px' style = 'border: 1px solid green; background-color: white; padding: 1px;' 
                            />
                        </li>
                       
                        <li style = 'margin-left: 0; padding-left: 0;'>
                            <a href="www.commonthreadsproject.org" target="_blank" > Visit Us</a>
                        </li>
                      

                     
                        
                        <li style = 'margin-left: 0; padding-left: 0;'>
                            ph: +1 301 928 7907
                        </li>
                        <li style = 'margin-left: 0; padding-left: 0;'>
                            25 Plaza Street West  Apt. 3F
                        </li>
                        <li style = 'margin-left: 0; padding-left: 0;'>
                            Brooklyn, N.Y. 11217
                        </li>
                        
                    
                      
                    </ul>

                </footer>
            </div>
          
    </body>
</html>

 