<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Honoree Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel = 'stylesheet' href = 'styles.css'>
    </head>
   
        <body style = 'font-family: Verdana;  background-color: rgb(54,135,148, .7); text-align: justify; padding: 10px '> 
         


    
            <div>
                <div style = 'text-align: center' >
                    <img style = ' text-align: center; border-radius: 16px; border: 3px solid #F5AF44; margin-bottom: 3px;'src="https://i.ibb.co/ZNMQynR/nepalbirds.jpg" alt="nepal birds" width = '300px' height = '300px'/>
                </div>

                <h1 style  = "font-size : medium; font-weight: 200;" >  Dear {{dearHonoreeStr}},</h1>
            
                <!-- <div  style = "text-align: center; background-color: rgba(35, 57, 71, 0.7); padding: 10px 0 10px 0; border: 5px solid rgb(160,145,94);
                color: #DFE6E7; border-radius: 16px" > -->

                <!-- style = 'padding: 5px 20px 5px 20px; text-align: justify;' -->

                     <p > This note is to let you know that {{thoseGivingStr}} has 
                        made a very generous donation to Common Threads Project in {{inHonorOrInMemoryStr}}. We are deeply grateful that 
                        they chose to {{ gratefulTheyChoseToStr }} in this way. We join {{honorerFirstName}} in wishing you all the best.
                         </p>
                         
                <!-- </div> -->
               

                <p> <em> {{customMsg}} </em> </p>

                <p> P.S. Information on the work of Common Threads Project can be found  

                    <a href="www.commonthreadsproject.org" target="_blank" rel="noopener noreferrer"> here</a>
                </p>


                <footer>
                    <ul style = 'list-style: none; margin-left: 0; padding-left: 0;'>

                        <li style = 'padding-bottom: 5px; margin-left: 0; padding-left: 0;'>
                            With gratitude and best wishes,
                        </li>
                    

                        <li style = 'padding-bottom: 5px; margin-left: 0; padding-left: 0;'>
                            <img src="https://i.ibb.co/JHSHXcM/output-onlinepngtools.png" alt="signature"  
                            width = '150px' height= '50px' style = ' border-radius: 16px; padding: 0px; 
                            
                            background-color: rgb(140, 181, 188, .2);'   > 
                        </li>
                    
                        <li style = 'padding-bottom: 5px; margin-left: 0; padding-left: 0;'>
                            Rachel A. Cohen, Ph.D.
                        </li>
                    
                        <li style = 'padding-bottom: 5px; margin-left: 0; padding-left: 0;'>
                            Founder and Executive Director
                        </li>

                        <li style = 'padding-bottom: 5px; margin-left: 0; padding-left: 0;margin-left: 0; padding-left: 0;'> 
                            Common Threads Project
                        </li>
                    

                        <li style = 'padding-bottom: 5px; margin-left: 0; padding-left: 0;'> 
                            <img src = 'https://images.squarespace-cdn.com/content/v1/5b7eeaf2c258b4a04473be79/1563828132352-Y3LYHVJEF6K6ACTZTM4I/masterlogo+transparent.png'
                             alt = 'organization logo' width = '150px' height= '100px' style = 'border: 1px solid green; background-color: white; padding: 1px;' 
                            />
                        </li>
                       
                        <li style = 'margin-left: 0; padding-left: 0;'>
                            <a href="www.commonthreadsproject.org" target="_blank" > Visit Us</a>
                        </li>
                      

                     
                        
                        <li style = 'margin-left: 0; padding-left: 0;'>
                            ph: +1 301 928 7907
                        </li>
                        <li style = 'margin-left: 0; padding-left: 0;'>
                            25 Plaza Street West  Apt. 3F
                        </li>
                        <li style = 'margin-left: 0; padding-left: 0;'>
                            Brooklyn, N.Y. 11217
                        </li>
                        
                    
                      
                    </ul>

                </footer>
            </div>
          
    </body>
</html>

 